.notes-wrap {
  display: inline-block;
  width: 70%;
  padding: 10px;
  height: 50%;
  box-sizing: border-box;
}
.notes {
  height: 100%;
}
.notes .form {
  background-color: white;
  padding: 10px;
  height: calc(100% - 31px);
  border: 1px solid $gray;
}
.notes .form-group,
.notes .form-control {
  height: 100%;
}
