@import 'base';

html,
body,
.content,
.content > div {
  height: 100%;
  background-color: $gray;
}
.content {
  padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
  margin: 0;
}
h1, h2, h3, h4, h5, span, li, p, input, textarea, label {
  color: $dark-gray;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

